{extend name="public/base" /}
{block name="title"}分配权限{/block}
{block name="nav"}
    <span class="action-span"><a href="{:url('add')}">添加角色</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 分配权限 </span>
    <div style="clear:both"></div>
{/block}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>顶级权限</th>
                <th>子权限</th>
            </tr>
            {volist name='rule_info' id='vo'}
            <tr align="center" class="0">
                <td align="left" class="first-cell" >
                    {eq name="$vo.parent_id" value="0"}
                    <input type="checkbox" name="role_ids[]" value="{$vo.id}" {in name="$vo.id" value="$hasRules"}checked="checked{/in}">
                    {$vo.rule_name}
                    {/eq}
                </td>
                <td align="left" class="first-cell" >
                    {volist name="rule_info" id="v"}
                    {eq name="$v.parent_id" value="$vo.id"}
                    <input type="checkbox" name="role_ids[]" value="{$v.id}"  {in name="$vo.id" value="$hasRules"}checked="checked{/in}" >{$v.rule_name}&nbsp;&nbsp;&nbsp;&nbsp;
                    {/eq}
                    {/volist}
                </td>
            </tr>
            {/volist}
                <td colspan="3" align="center" class="first-cell"><input type="submit" ></td>
        </table>
    </div>
</form>
{/block}
</body>
</html>