{extend name="public/base" /}
{block name="title"}所有角色{/block}
{block name="nav"}
    <span class="action-span"><a href="/index.php/admin/role/add.html">添加角色</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 角色分类 </span>
    <div style="clear:both"></div>
{/block}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>操作</th>
            </tr>
            {volist name='role_info' id='vo'}
            <tr align="center" class="0">
                <td align="left" class="first-cell" >
                    {$vo.id}
                </td>
                <td align="left" class="first-cell" >
                    {$vo.role_name}
                </td>
                <td width="30%" align="center">
                    {gt name="$vo.id" value="1"}
                    <a href="{:url('disfetch','id='.$vo['id'])}">分配权限</a> |
                    <a href="{:url('edit','id='.$vo['id'])}">编辑</a> |
                    <a href="{:url('remove','id='.$vo['id'])}" title="移除" onclick="">移除</a>
                    {/gt}
                </td>
            </tr>
            {/volist}
            
        </table>
    </div>
</form>
{/block}
</body>
</html>