{extend name="public/base" /}
{block name="title"}所有属性{/block}
{block name="nav"}
    <span class="action-span"><a href="/index.php/admin/attribute/add.html">添加属性</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 属性列表 </span>
    <div style="clear:both"></div>
{/block}
{block name="style"}
<style>
  *{
    text-decoration: none;

  }
    #pag li{
        list-style: none;
        float:left;
        margin: 10px;
        padding: 0 8px;
        font-size: 15px;
        border: 1px solid skyblue;

    }
    #pag li:hover{
        background:skyblue;
        color:white;
    }
</style>
{/block}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>#</th>
                <th>属性名称</th>
                <th>所属类型</th>
                <th>属性类型</th>
                <th>录入方式</th>
                <th>属性值</th>
                <th>操作</th>
            </tr>
            {volist name='data' id='vo'}
            <tr align="center" class="0">
                <td align="center" class="first-cell" >{$vo.id}</td>
                <td align="center" class="first-cell" >{$vo.attr_name}</td>
                <td align="center" class="first-cell" >{$vo.type_name}</td>
                <td align="center" class="first-cell" >{eq name="$vo.attr_type" value='1'}唯一属性{else/}单选属性{/eq}</td>
                <td align="center" class="first-cell" >{eq name="$vo.attr_input_type" value="1"}input输入{else/}select选择{/eq}</td>
                <td align="center" class="first-cell" >{$vo.attr_values}</td>
                
                <td width="30%" align="center">
                <a href="{:url('edit','id='.$vo['id'])}">编辑</a> |
                <a href="{:url('remove','id='.$vo['id'])}" title="移除" onclick="">移除</a>
                </td>
            </tr>
            {/volist}
        </table>
        
        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
                <tr>
                    <td width="80%">&nbsp;</td>
                    <td align="center" nowrap="true" id="pag">
                        {$data->render()}
                    </td>
                </tr>
            </table>
        <!-- 分页结束 -->
    </div>
</form>
{/block}
</body>
</html>