{extend name="public/base" /}
{block name="title"}类型{/block}
{block name ="nav"}
    <span class="action-span"><a href="{:url('index')}">商品分类</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"><a href="{:url('add')}">-添加类型</a> </span>
{/block}
{block name="body"}
<div class="main-div">
        <form  method="post" name="theForm">
            <table width="100%" id="general-table" style="margin:0 auto;">
                <tr>
                    <td class="label">类型名称:</td>
                    <td>
                        <input type='text' name='type_name'/> <font color="red">*</font>
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
</div>
{/block}